<div class="wpb_column vc_column_container vc_col-sm-12">
  <div class="vc_column-inner">
    <div class="wpb_wrapper">
      <div class="vc_row wpb_row vc_inner vc_row-fluid less-wide-please">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <ul class="reg_nav border-bottom">
                    <li class="left"><h4>Login/Register</h4></li>
                    <li class="middle"><h4>Basic info</h4></li>
                    <li class="right"><h4>Payment</h4></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
