.event-list {
  border: 2px solid #848484;
  box-shadow: 2px 2px 2px #848484;
  width: 80%;
  margin: auto;
  margin-bottom: 3%;
}

.event_title {
  font-size: 1.2em;
}

.event_image {
  width: 777px;
  height: 334px;
}

.event-text {
  width: 90%;
  height: 90%;
  margin: auto;
  padding-top: 2%;
}

.rsvp_event {
  color: #818D93;
  margin-bottom: 0;
}

.fee_event {
  color: #818D93;
  margin-bottom: 5px;
}

.fee_price {
  font-size: 1.2em;
}

.organiser_event {
  color: #818D93;
}

.start_time_event {
  color: #818D93;
}
