#page {
  background-color: #F5F5F5;
}

p {
  font-weight: 100 !important;
}

.container {
  /*background-color: white;*/
}

.grey_font {
  color: #818D93;
}

.title {
  font-weight: 800;
  font-size: 2em;
  width: 40%;
  margin: auto;
  line-height: 120%;
  padding-top: 3%;
}

.center-block {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.row-eq-height {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  min-height: 442px !important;
}

.row-center-align {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.text-link {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}
