.profile_container {
  margin-top: 5%;
  background-color: white;
}

.edit-profile {
  padding-top: 5%;
  width: 80%;
  margin: auto;
}

.email {
  padding-left: 4%;
}

dt {
  color: #818D93;
  vertical-align: middle;
  display: table-cell;
}
