---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/payments?customer=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox_I4CViaFJazkmhIUYgaMq2orxTWoA-v567Q1DJlGe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aa58b024a623b00824a210843c02c47c"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Sat, 27 May 2017 09:46:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"payments":[{"id":"PM0004G6EZ8JKY","created_at":"2017-05-21T15:05:08.636Z","charge_date":"2017-05-25","amount":2600,"description":null,"currency":"GBP","status":"confirmed","amount_refunded":0,"reference":null,"metadata":{"plan":"one-off"},"links":{"mandate":"MD0001P9VCZV7K","creditor":"CR00004P78BAGF"}},{"id":"PM00047V095MNN","created_at":"2017-04-30T15:18:42.648Z","charge_date":"2017-05-08","amount":3600,"description":null,"currency":"GBP","status":"paid_out","amount_refunded":0,"reference":null,"metadata":{},"links":{"mandate":"MD0001P9VEJ3EG","creditor":"CR00004P78BAGF","payout":"PO0000EKYDCZSW","subscription":"SB00005P78XR5C"}},{"id":"PM00047V07HTCJ","created_at":"2017-04-30T15:13:07.300Z","charge_date":"2017-05-08","amount":2400,"description":null,"currency":"GBP","status":"paid_out","amount_refunded":0,"reference":null,"metadata":{},"links":{"mandate":"MD0001P9VEJ3EG","creditor":"CR00004P78BAGF","payout":"PO0000EKYDCZSW","subscription":"SB00005P75KMZ3"}},{"id":"PM00047V002WME","created_at":"2017-04-30T15:02:39.293Z","charge_date":"2017-05-08","amount":2400,"description":null,"currency":"GBP","status":"cancelled","amount_refunded":0,"reference":null,"metadata":{"plan":"standard"},"links":{"mandate":"MD0001P9VCZV7K","creditor":"CR00004P78BAGF"}},{"id":"PM00047TYZ9S16","created_at":"2017-04-30T12:26:41.262Z","charge_date":"2017-05-08","amount":2600,"description":null,"currency":"GBP","status":"paid_out","amount_refunded":0,"reference":null,"metadata":{"plan":"one-off"},"links":{"mandate":"MD0001P9TQT5KY","creditor":"CR00004P78BAGF","payout":"PO0000EKYDCZSW"}}],"meta":{"cursors":{"before":null,"after":null},"limit":50}}'
  recorded_at: Sat, 27 May 2017 09:45:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OifeKAktWHIfsMhd3wjyoMoG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ch_1AN5krGLEYJ8RkCGN2t5J6vo",
              "object": "charge",
              "amount": 2600,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_1AN5ksGLEYJ8RkCGAZJl7Hoj",
              "captured": true,
              "created": 1495656409,
              "currency": "gbp",
              "customer": "cus_AiWFtNzSvY3gpC",
              "description": "tests@email.com",
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1AN5krGLEYJ8RkCGN2t5J6vo/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1AN5DAGLEYJ8RkCGIFlEsQ5z",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AiWFtNzSvY3gpC",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2019,
                "fingerprint": "UbLhyQnjcdYT5pDD",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "tests@email.com",
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded",
              "transfer_group": null
            },
            {
              "id": "ch_1AN5SJGLEYJ8RkCGPdDBnR6j",
              "object": "charge",
              "amount": 2400,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_1AN5SJGLEYJ8RkCGxYPC2L5T",
              "captured": true,
              "created": 1495655259,
              "currency": "gbp",
              "customer": "cus_AiWFtNzSvY3gpC",
              "descri[...]
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/payments?customer=CU0001TPH9HG27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox_I4CViaFJazkmhIUYgaMq2orxTWoA-v567Q1DJlGe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"180b7e5937911bb[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?customer=cus_AiWFtNzSvY3gpC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OifeKAktWHIfsMhd3wjyoMoG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |[...]
